* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* wichtig für responsive Breite */
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(236, 235, 239);
    margin: 18px;
    font-family: "Times", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: rgb(3, 6, 9);
    font-weight: 400;
    letter-spacing: 0.1cap;
}

body.imprint {
    max-width: 666px;
    box-sizing: border-box;
    padding: 6px 0 0 6px;
}

.back {
    position: fixed;
    top: 24px;
    right: 18px;
}
@media (max-width: 768px) {
    body.imprint {
    width: 100vw;
    margin-right: 18px;
    }
  }

.top {
  padding: 6px 0 0 6px;
  display: flex;
  align-items: flex-start;
}

.top .top-left {
  margin: 0;
 
}

.top-right-impressum {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 0 px 0 0;
  margin-left: auto;
  gap: 18px;
}

.top .top-right {
  display: flex;
  gap: 18px;
  padding: 0 3px 0 0;
  margin-left: auto;
  font-size:12px;
}

.top a.impressum {

  padding-right: 6px;
}



h1 {
    margin-top: 0px;
    font-family: "Times", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: rgb(3, 6, 9);
    font-weight: 400;
    letter-spacing: 0.1cap;
}

h2 {
    width: 90vw;
    margin-left: 18px;
    margin-bottom: 3px;
    font-family: "Times", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: rgb(255, 255, 255) !important;
    font-weight: 400;
    letter-spacing: 0.1cap;
}

h3 {
    width: 90vw;
    margin-top: 48px;
    margin-bottom: -0px;
    font-family: "Times", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: rgb(194, 194, 194);
    font-weight: 400;
    letter-spacing: 0.1cap;
}

.link {
    text-decoration: none;
    color: rgb(3, 6, 9);
    font-style: italic;
}

.white {
    color: rgb(194, 194, 194); !important;
}

.list {
    list-style-type: circle;
    margin-left: 18px;
    margin-top: 9px;
    margin-bottom: 9px;
}

.email a {
    text-decoration: none;
    color: rgb(3, 6, 9);
    hyperlink-color: rgb(3, 6, 9);
    font-style: regular;    
}

.flower-sun {
    width: 24vw;
    min-width: 211px;
    max-width: 500px;
    height: auto;
    display: block;
    margin-left: 42px;
    margin-top: auto;
    margin-bottom: 42px;
    position: fixed;
    bottom: 42px;
    z-index: -1;
}

/*
 .container {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  margin-left: 18px;
  margin-top: 18px;
}

.box {
  width: 1 1 150px;
  padding: 18px;
  border: 1px solid black;
}
*/



@media (max-width: 630px) {

  .top {
    flex-direction: column;
  }

  .top-right-impressum {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 0;
  gap: 0px;
    
}

  .top .top-right {
  display: flex;
  flex-direction: row;
  gap: 35px;
  margin-left: 0;
}

  .top .top-left,
  .top a.impressum {
    flex: 100%;
    text-align: left;
  }

  a.link.impressum{
    margin-top: -1px;
  }

 a.link.top-right-impressum {
   margin-top: 22px;
  }

  .flower-sun {
    width: 50vw;
    max-width: 200px;
    height: auto;
    display: block;
    margin-left: 24px;
    margin-top: auto;
    margin-bottom: 24px;
    position: fixed;
    z-index: -1;
}

}
